.cardBox{
    gap: 30px;
    width: 500px;
    height: 250px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(191, 191, 191);
    position: relative;
    display: flex;
    flex-direction: row;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.ava{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden; 
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.avatar {
    width: 60%; /*Cпросить у учителя почему не уменьшается размер аватара */
    height: 60%;
    object-fit: cover; 
}

.card-info1{
    font-weight: bold;
    font-size: 36px;
}

.card-info {
    font-size: 12px; /*Cпросить у учителя почему не меняется размер шрифта */
    padding-top: 5px;
    max-width: 60%;
}
